/*--------------------HEADER------------*/

body {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

*{
font-family: 'Be Vietnam Pro', sans-serif; 
}

.navbar {
    opacity: 1;
    background-color: #401081;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: white;
    align-content: center;
    font-weight: 700;
    font-size: 14px;
}

#logo {
    font-size: 40px;
    font-weight: 700;
    opacity: 1;
    margin-left: 10px;   
}

.botonNavbar {
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.botonNavbar:hover {
    text-decoration-line: underline;
    color: white;
}

.botonSalir {  
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
    background-color: #401081;
    height: 38px; 
    width: 80px;
    cursor: pointer;
    align-content: center;
    margin-top:7px;
    margin-right: 10px;
}

.botonSalir:hover {
    color: #401081;
    background-color: #ffffff;
}
/*------------ Gestionar Productos --------------*/

.textosInicioSeccion {
    margin-top: 2.2em;
    display: grid;
    color:#491391;
    margin-left: 4.4em;
    align-self: flex-start;
}

.tituloSeccion {
    font-size: 33px;
    font-weight: 800;
}

.descripcionSeccion {
    margin-top: 0.2em;
    font-weight: 700;
    font-size: 16px;
}

/*------------ Gestionar Productos / Landing(Tabla) --------------*/

.posicionBuscador {    
    margin-top: 3em;
    margin-left: 4.6em;
    display: inline-flex;
}

.buscar {
    background-color: white;
    border: 1px solid #ACB1B2;
    padding: 4px;
    border-radius: 10px;
    height: 32px;
    width: 310px;
    font-size: 16px;
    font-weight: 300;
    color:#4D4D4D; 
}
.buscar:focus-within {
     border-radius: 10px;
}
.botonBuscar {
    background-color: #2C90F4;
    font-size: 16px;
    font-weight: 600;
    color: white;
    justify-items: center;
    border: 0px;
    border-radius: 10px;
    height: 42px;
    width: 140px;
    margin-left: 1rem;
    cursor: pointer; 
}
.botonBuscar:hover {
    background-color: #0671DD
}
.botonCrear {
    background-color: #1BC628;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 42px;
    width: 250px;
    cursor: pointer;
    position:fixed;
    right: 4.8em;
    top: 15em; 
}
.botonCrear:hover {
    background-color: #00ac00
}

/*------------ Estilos Solo Tabla Productos --------------*/



.productsTable{
    margin-top: 1em;
    margin-left: 4.4em;
}

table {
    table-layout: fixed;
    width: 96%;
    border: 1px solid #ACB1B2;
    border-collapse: collapse;    
}

caption {
    font-size: 16px;
    font-weight: 700;
    caption-side: top;
    color:#491391;
    text-align: left;
    padding-bottom: 0.5em; 
}

thead th, tfoot th {
    font-size: 14px;
    font-weight: 700;
    color:#4D4D4D;
    text-align: left;
}

thead, tfoot {
    background-color: #F0F2F4;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 20%;
}

thead th:nth-child(5) {
    width: 20%;
}

th, td {
    padding: 14px;
}

td {
    color:#4D4D4D;
    font-size: 14px;
    font-weight: 400;
}

tbody tr:hover {
    background-color: #f8f9fa;
    cursor: default;
}

tbody td {
    text-align: left;
}

.badgeAvailable {
    border-radius: 10px;
    border: 1px solid #00B20E;
    font-size: 13px;
    font-weight: 600;
    color:#009c0d;
    padding: 6px;
}

.badgeNotAvailable {
    border-radius: 10px;
    border: 1px solid #c01515;
    font-size: 13px;
    font-weight: 600;
    color:#ce2323;
    padding: 6px;
}

.editButton {
    background-color: #7a7a7c;
    font-weight: 600;
    font-size: 4px;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    height: 32px;
    width: 60px;
    text-align: center;
}
.editButton:hover {
    background-color: #424242;   
}    

/*------------ Gestionar Productos / Registrar Nuevos Productos --------------*/


.contenedorFormulario {
    border-radius: 5px;
    padding: 20px;
    margin-left: 3.4em;
    margin-right: 8em;
  }

.label {
    font-size: 14px;
    font-weight: 400;
    color:#4D4D4D;
    padding-bottom: 0.6em; 
}

input[type=text], select, textarea {
    font-size: 14px;
    width: 94%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
background-color: #1BC628;
color: white;
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 10px;
height: 42px;
width: 250px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #00ac00;
}




/*------------FOOTER--------------*/
.footer {
  color: #491391;
  font-size: 12px;
  position:fixed;
  left:0px;
  bottom:0px;
  opacity: 1;
  background-color: #ffffff;
  padding: 10px;
  
}


