/*--------------------HEADER------------*/

body {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

*{
font-family: 'Be Vietnam Pro', sans-serif;
}

.navbar {
    opacity: 1;
    background-color: #401081;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: white;
    align-content: center;
    font-weight: 700;
    font-size: 116x;
    align-items: center;

}

.navbar a{
    color: white;
    text-decoration-line: none;
}

#logo {
    font-size: 40px;
    font-weight: 700;
    opacity: 1;
    margin-left: 10px;
}

.botonNavbar {
    display: flex;
    cursor: pointer;
}

.botonNavbar:hover {
    text-decoration-line: underline;
}

.botonSalir {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    opacity: 1;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
    background-color: #401081;
    height: 38px;
    width: 80px;
    cursor: pointer;
    align-content: center;
    margin-top:7px;
    margin-right: 10px;
}

.botonSalir:hover {
    color: #401081;
    background-color: #ffffff;
}

/*------------Login - Registro usuarios ------------*/

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
  }

  .divlogo{
    padding-top: 14rem;
    background-color: #3D0A81;
    color:white;
    justify-items: center;

  }
  .divlogo > h1{
    text-align: center;
    font-size: 5em;
  }

  .divlogin{
    background-color: #5820a2;
    color:white;
    padding-left: 50px;
    padding: 75px;
  }

  .divlogin > h1{
    text-align: left;
    font-size: 2.5em;
  }

  .botonlogin{
    background-color: #F99225;
    border: none;
    color: white;
    margin-top: 5rem;
    border-radius: 3px;
    height: 4em;
    width: 16em;
    cursor: pointer;
    font-size: 18px;
    justify-content: space-evenly;
    font-weight: 600;
  }


  /* input[type=password] {
    font-size: 14px;
    width: 40em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical
} */

  .divinternologo{
    display: flex;
    justify-content: center;
  }

  .divinternopiedepagina{
    font-size: 12px;
    margin-top: 20rem;
    margin-left: 1rem;

  }

  .auth{
    font-size: 15px;
    padding-inline-end: 2em;
  }

  .register{
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
    padding-inline-end: 2em;
  }

  .register:hover{
      text-decoration: underline;
  }

  .g_id_signin{
    padding-top: 2rem;
    max-width: 17rem;

  }

/*------------ Gestionar Productos --------------*/

.textosInicioSeccion {
    margin-top: 2.2em;
    display: grid;
    color:#491391;
    margin-left: 4.4em;

}

.tituloSeccion {
    font-size: 33px;
    font-weight: 800;
    display: flex;
}

.descripcionSeccion {
    margin-top: 0.2em;
    font-weight: 700;
    font-size: 16px;
    display: flex;
}

/*------------ Gestionar Productos / Landing(Tabla) --------------*/

.posicionBuscador {
    margin-top: 3em;
    margin-left: 4.6em;
    display: inline-flex;
}

.buscar {
    background-color: white;
    border: 1px solid #ACB1B2;
    padding: 4px;
    border-radius: 10px;
    height: 32px;
    width: 310px;
    font-size: 16px;
    font-weight: 300;
    color:#4D4D4D;
}
.buscar:focus-within {
     border-radius: 10px;
}
.botonBuscar {
    align-content: center;
    align-items: center;
    background-color: #2C90F4;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 42px;
    width: 140px;
    margin-left: 1rem;
    cursor: pointer;
}
.botonBuscar:hover {
    background-color: #0671DD
}
.botonCrear {
    position: absolute;
    top: 37%;
    right: 4%;
    background-color: #1BC628;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 42px;
    width: 260px;
    cursor: pointer;
    right: 4.8em;
    top: 15em;
    position: fixed;
}

.botonCrear:hover {
    background-color: #00ac00
}



/*------------ Estilos Solo Tabla Productos --------------*/



.productsTable{
    margin-top: 1em;
    margin-left: 4.4em;
    margin-bottom: 4rem;
}

table {
    table-layout: fixed;
    width: 96%;
    border: 1px solid #ACB1B2;
    border-collapse: collapse;
}


caption {
    font-size: 16px;
    font-weight: 700;
    caption-side: top;
    color:#491391;
    text-align: left;
    padding-bottom: 0.5em;
}

thead th, tfoot th {
    font-size: 14px;
    font-weight: 700;
    color:#4D4D4D;
    text-align: left;
    ;
}

thead, tfoot {
    background-color: #F0F2F4;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 20%;
}

thead th:nth-child(5) {
    width: 10%;
}

th, td {
    padding: 14px;
}

td {
    color:#4D4D4D;
    font-size: 14px;
    font-weight: 400;
}

tbody tr:hover {
    background-color: #f8f9fa;
    cursor: default;
}

tbody td {
    text-align: left;
}

.badgeAvailable {
    border-radius: 10px;
    border: 1px solid #00B20E;
    font-size: 13px;
    font-weight: 600;
    color:#009c0d;
    padding: 6px;
}

.badgeNotAvailable {
    border-radius: 10px;
    border: 1px solid #c01515;
    font-size: 13px;
    font-weight: 600;
    color:#ce2323;
    padding: 6px;
}

.badgeInProgress {
    border-radius: 10px;
    border: 1px solid #f89b22;
    font-size: 13px;
    font-weight: 600;
    color:#f89b22;
    padding: 6px;
}

.editButton {
    background-color: #401081;
    font-weight: 600;
    font-size: 4px;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    height: 32px;
    width: 60px;
    text-align: center;
}
.editButton:hover {
    background-color: #5e5e5e;
}

/*------------ Gestionar Productos / Registrar Nuevos Productos --------------*/


.contenedorFormulario {
    display: flex;
    justify-content: left;
    align-items: left;
    max-width: 600px;
    margin-left: 3.1rem;
    border-radius: 5px;
    padding: 20px;
  }

.label {
    font-size: 14px;
    font-weight: 400;
    color:#686868;
    padding-bottom: 0.6em;
}

input[type=text], select, textarea {
    font-size: 14px;
    width: 40em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=number], select, textarea {
    font-size: 14px;
    width: 40em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
background-color: #1BC628;
color: white;
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 10px;
height: 42px;
width: 250px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #00ac00;
}

/*-------- Botón guardar y editar Formulario Producto--------*/

.botonGuardarProducto {
    background-color: #F99225;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    height: 42px;
    width: 250px;
    cursor: pointer;
    }
    
.botonGuardarProducto:hover {
background-color: #ff790a;
}

/*--------Tabla usuarios--------*/

.usersTable {
    table-layout: fixed;
    width: auto;
    margin-right: 4.4em;
    border: 1px solid #ACB1B2;
    border-collapse: collapse;
}

.usersTable th{
    white-space:nowrap;
}

/*------------FOOTER--------------*/
.footer {
  color: #491391;
  font-size: 12px;
  position: fixed;
  bottom: 0%;
  left: 1%;
  opacity: 1;
  background-color: #ffffff;
  padding: 10px;

}

  /*============ Ventas ============*/

  .contenedorFormVentas{
      width: max-content;
      margin-left: 4.5em;
  }

  .datos_cliente, .datos_venta, .title_page, .tbl_venta{
	width: 100%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
}

#input_ventas{
    font-size: 14px;
    width: 20em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 8px;
  }

#input_fecha{
    font-size: 14px;
    width: 18em;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 8px;
}
.btn_new{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 10px;
	opacity: 1;
	padding: 5px;
	background-color: #401081;
	height: 20px; 
	width: 130px;
	cursor: pointer;
	align-content: center;
	margin-top:7px;
}

.div_registro_cliente{
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 10px;
	opacity: 1;
	padding: 5px;
	background-color: #401081;
	height: 20px; 
	width: 130px;
	cursor: pointer;
	align-content: center;
	margin-top:7px;
}

#detalle_venta tr{
	background-color: #F0F0F0 !important;
}
#detalle_venta td{
	border-bottom: 1px solid #FFF;
	
}
.datos{
	background-color: #f8f6f8;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    width: 73em;
}

#label{
 margin-left: 8px;
}
 h4{
     margin-bottom: auto;
 }
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
}
.wd40{
	width: 40%;
}
.wd50{
	width: 50%;
}
.wd60{
	width: 60%;
}
.wd100{
	width: 100%;
}
.btn_ok{
	background-color: #f36a6a;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	margin: 0 3px;
	height: 20px; 
	width: 130px;
	color: #FFF;
	opacity: 1;

}
.btn_new{
	background-color: #401081;
	border: 1px;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	margin: 10px 1em 0 auto;
	height: 20px; 
	width: 130px;
	color: #FFF;
	opacity: 1;
}
#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}

.tbl_venta{
	max-width: 900px;
	margin: auto;
	
}
.tbl_venta tfoot td{
	font-weight: bold;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.link_add{
	background-color: #401081;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	margin: 0 3px;
	height: 20px; 
	width: 130px;
	color: #FFF;
	opacity: 1;
}

